{% extends "layout.html" %}

{% block title %}
    Command
{% endblock %}

{% block main %}
<form action="/command" method="post">
  <div class="container">
    <font face ="georgia"><h3><u><b>Weekly Pawdates!</b></u></h3></font>
    <div class="row">
      <!--<span class="border">-->
      <div class="col-6">
        <h5><b><u>My Personal Information</u></b></h5>
          <div class="row">
          <div class="col-3 col-sm-12">
            <table style="width:100%">
            <tr>
              <th> Pet's Name </th>
              <th> Age </th>
              <th> Allergies </th>
              <th> Favorite Snack </th>
            </tr>
            {% for personal in personals %}
            <tr>
              <td> {{personal.Name}} </td>
              <td> {{personal.Age}} </td>
              <td> {{personal.Allergies}} </td>
              <td> {{personal.Favorite_Snack}} </td>
            </tr>
            {% endfor %}
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-3 col-sm-6">
            <a href="/addpet" class="btn btn-info btn-block">Add Pet</a>
          </div>
          <div class="col-3 col-sm-6">
            <a href="/deletepet" class="btn btn-info btn-block">Delete Pet</a>
          </div>
        </div>
      </div>
      <!--</span>-->
      <!--<span class="border">-->
      <div class="col-6">
        <h5><b><u>Profiles of Friends in Need of Pet Care</u></b></h5>
        <div class="row">
          <div class="col-3 col-sm-12">
            <table style="width:100%">
            <tr>
              <th> Pet's Name </th>
              <th> Owner's Name </th>
              <th> Directions </th>
              <th> Points </th>
            </tr>
            {% for row in rows %}
            <tr>
              <td> {{row.Name}} </td>
              <td> {{row.UsersName}} </td>
              <td> {{row.Directions}} </td>
              <td> {{row.Points}} </td>
            </tr>
            {% endfor %}
            </table>

          </div>
        </div>
      </div>
      <!--</span>-->
    </div>
    <div class="row">
      <!--<span class="border">-->
      <div class="col-6">
        <a href="/ineedhelp" class="btn btn-danger btn-block">I NEED HELP!</a>
      </div>
      <!--</span>-->
      <!--<span class="border">-->
      <div class="col-6">
        <a href="/history" class="btn btn-info btn-block">My Track History</a>
      </div>
      <!--</span>-->
    </div>
  </div>
</form>

{% endblock %}
